<div class="container">
  <h2>Create Football Field</h2>
  <form
    action=""
    class="form-group"
    [formGroup]="createForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="text"
      placeholder="Field Name"
      class="form-control"
      formControlName="name"
    />
    <span
      *ngIf="!createForm.get('name').valid && createForm.get('name').touched"
      >Please enter a valid name!</span
    >
    <input
      type="text"
      placeholder="Field Address"
      class="form-control"
      formControlName="address"
    />
    <span
      *ngIf="
        !createForm.get('address').valid && createForm.get('address').touched
      "
      >Please enter a valid address!</span
    >
    <input
      type="text"
      placeholder="Telephone"
      class="form-control"
      formControlName="tel"
    />
    <span *ngIf="!createForm.get('tel').valid && createForm.get('tel').touched"
      >Please enter a valid telephone!</span
    >
    <label for="open_from" class="badge badge-secondary">Open From:</label>
    <input
      type="time"
      id="open_from"
      class="form-control"
      formControlName="openFrom"
    />
    <label for="open_to" class="badge badge-secondary">Open To:</label>
    <input
      type="time"
      id="open_to"
      class="form-control"
      formControlName="openTo"
    />
    <div formArrayName="pictures">
      <h4>Pictures</h4>
      <button class="btn btn-success" (click)="onAddPicture()" type="button">
        Add Picture
      </button>
      <div
        class="form-group"
        *ngFor="
          let pictureControl of createForm.get('pictures').controls;
          let i = index
        "
      >
        <input type="text" class="form-control" [formControlName]="i" />
      </div>
    </div>
    <button type="submit" class="btn btn-info">Create</button>
  </form>
</div>
