<div class="container">
  <div *ngIf="fields">
    <div class="row">
      <div class="col-lg-6">
        <!-- <h2>Find Field:</h2> -->
        <ul>
          <li *ngFor="let field of fields" class="mb-3">
            <h3>{{ field.name }}</h3>
            <p>Address: {{ field.address }}</p>
            <p>Tel: {{ field.tel }}</p>
            <p>Open From: {{ field.openFrom }} To: {{ field.openTo }}</p>
            <div *ngIf="field.photos">
              <div *ngFor="let pic of field.photos" class="block">
                <img src="{{ pic }}" alt="" width="200px" />
              </div>
            </div>
            <button
              routerLink="/football-fields/book/id:{{ field._id }}"
              class="btn btn-primary"
            >
              Book now
            </button>
            <button
              *ngIf="auth.isAdmin()"
              routerLink="/football-fields/edit/id:{{ field._id }}"
              class="btn btn-success"
            >
              Edit!
            </button>
            <hr />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
